manifest {
  description = 'A kallisto quantification pipeline based on nextflow' 
  author = 'Lx Gui'
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

  slurm {
    process.executor = 'slurm'
    process.queue='lc'
    singularity.enabled = true
  }
  
}
