manifest {
  description = 'A kallisto quantification pipeline based on nextflow' 
  author = 'Lx Gui'
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {

  slurm {
    process.executor = 'slurm'
    process.queue='lc'
    singularity.enabled = true
  }

  conda {
    process.conda = '/public/software/miniconda3/envs/exome/'
  }

}

params {
    // Workflow flags
    genome = 'tcuni1.1'
    reads = "data/*{1,2}.fastq.gz"
    data_type = 'exome'
    
    // Alignment
    aligner = 'star'

    // SNP
    quality = 30
    depth = 5
    snpEff = '/public/software/snpEff/snpEffv4.3T/'
    known_vcf = false
    skip_merge = false

    // Boilerplate 
    genomes_base = "/public/database/genome/nf/"
}

includeConfig 'conf/genomes.config'