/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes, using Genome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */


params {
  // illumina iGenomes reference file paths
  genomes {
    'tcuni1.1' {
      fasta         = "${params.genomes_base}/tcuni1.1/genome.fa"
      gtf           = "${params.genomes_base}/tcuni1.1/genes.gtf"
      exon_bed      = "${params.genomes_base}/tcuni1.1/exon.bed"
      cds_bed       = "${params.genomes_base}/tcuni1.1/cds.bed"
      split_bed     = "${params.genomes_base}/tcuni1.1/split.bed"
      padded_bed    = "${params.genomes_base}/tcuni1.1/padded.bed"
      bwa_index     = "${params.genomes_base}/tcuni1.1/bwa/"
      star_index    = "${params.genomes_base}/tcuni1.1/star_index"
      merge_chr_bed = "${params.genomes_base}/tcuni1.1/split.cat.bed"
      snpEff_db     = "wheat.hclc.v1.1"
      
    }
  }
}
